@import url('https://fonts.googleapis.com/css2?family=Kufam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

html{
    font-family: 'Kufam', cursive;
}

body{
    margin: 0;
    padding: 0;
}

.navbar{
    height: 40px;
}

.navbar>ul{
    float: right;
    padding-top: 11px;
    padding-bottom: 11px;
}

.title{
    margin-left: 100px;
    float:left;
}

.navbar>ul>li{
    display: inline;
    list-style-type: none;
    font-size: 25px;
    margin-left: 40px;
    margin-right: 40px;
    
}

h1{
    color: darksalmon;
    font-size: 40px;
    font-family: Montserrat, cursive;
}

#active{
    color: lightskyblue;
}

#active:hover{
    color: wheat;
}

header{
    overflow: hidden;
    background-color: #333333;
}

.navbar>ul>li>a{
    font-family: 'Kufam', cursive;
    text-decoration: none;
    color: white;
}

.navbar>ul>li>a:hover{
    color:wheat;
}

.img-container{
    display: flex;
    justify-content: center;
    margin: auto;
    width:75%;
}

.description{
    border-top-width: 1px;
    border-top-color: black;
    border-top-style: solid;
    text-align: center;
    justify-content: center;
    margin: auto;
    width:75%;
}

#img1{
    width: 453px;
    height: 250px;
    margin: 100px;
}

#img2{
    width: 343px;
    height: 250px;
    margin: 100px;
}

.table-div{
    border-top-style: solid;
    border-width: 1px;
    text-align: center;
}

.table {
    font-family: Verdana;
    font-size: 12px;
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    color: black;
    background-color: #333;
}

.table td, .table th {
    border: 1px solid black;
    padding: 8px;
}

.table tr:nth-child(even){
    background-color: white;
}

.table tr:nth-child(odd){
    background-color: lightgray;
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: lightgray;
    color: black;
    text-transform: uppercase;
}

footer{
    margin-top: 25px;
    background-color:#333333;
    color:white;
}

.footer-text{
    padding:10px;
}

.presentation-cards{
    text-align: center;
}

.flip-card {
    display: inline-flex;
    margin: 5px 50px 5px 50px;
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}


.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}


.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}


.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}


.flip-card-front {
    background-color: #bbb;
    color: black;
}


.flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}

.flip-card-back>h1 {
    font-size: 30px;
}

.avatar1{
    height: 300px;
    width: 300px;
}

#presentation-mariano{
    background-image: url('../img/blue-denim-texture-background.jpg');
    background-size: 400px;
    background-position-x: center;
    background-position-y: -100px;
    background-color: #14213d;
    color: #EAE2A7;
}

#presentation-mariano>h1{
    color: #FFC05A;
}

#presentation-alesio{
    background-image: url('../img/fondo-alesio.png');
    background-size: 400px;
    color: lightcyan;
    background-position: center;
    background-position-y: 10px;
}

#presentation-alesio>h1{
    color: lightgray;
}
